# This is Git's per-user configuration file.
[user]
	name = tsd9596
	email = tsd9596@gmail.com
# Please adapt and uncomment the following lines:
#	name = Tanmay_ Dodamani_P26
#	email = tsd95@DESKTOP35TSD11.(none)
